<% provide(:title, "About") %>
<h1>About</h1>
<p>
The CISS 438 Browser Gaming App is a project currently being developed by
Ujjwal Pandey, Ryan Frappier, William Whitacre, and Taylor Bennett at 
Columbia College under Dr. Yihsiang Liow during the Spring 2015 semester.
</p>
