<footer class="footer">
  <small>
    The CISS 438 Browser Gaming App by Ujjwal Pandey, Ryan Frappier, 
    Wiliam Whitacre, and Taylor Bennett.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>